@model IEnumerable<Restaurant.Models.Productcustomer>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Search</h1>

<form class="form-inline" asp-action="Search" method="post" >
                    <label class="sr-only" for="stratDate">Start date</label>
                    <input type="date" class="form-control mb-2 mr-sm-2" id="startDate" name="startDate" placeholder="Start date">
                  
                    <label class="sr-only" for="endDate">End date</label>
                    <input type="date" class="form-control mb-2 mr-sm-2" id="endDate" name="endDate" placeholder="End date">
                  
                   
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                  </form>


<table class="table display expandable-table" style="width:100%">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Fname) @item.Customer.Lname
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @(item.Quantity* item.Product.Price)
                </td>

        </tr>
}
    </tbody>
</table>
